In [1]:
import pandas as pd
import re

In [2]:
dataset = pd.read_csv("D:\Imarticus final project\Python Project - Bank Lending\XYZCorp_LendingData.txt", sep="\t") # make sure to set "sep" properly selected.

C:\Users\Admin\anaconda new\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (17,45,53) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [34]:
dataset.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [35]:
dataset.info() # dataset datatype checking

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 855969 entries, 0 to 855968
Data columns (total 73 columns):
id                             855969 non-null int64
member_id                      855969 non-null int64
loan_amnt                      855969 non-null float64
funded_amnt                    855969 non-null float64
funded_amnt_inv                855969 non-null float64
term                           855969 non-null object
int_rate                       855969 non-null float64
installment                    855969 non-null float64
grade                          855969 non-null object
sub_grade                      855969 non-null object
emp_title                      806526 non-null object
emp_length                     812908 non-null object
home_ownership                 855969 non-null object
annual_inc                     855969 non-null float64
verification_status            855969 non-null object
issue_d                        855969 non-null object
pymnt_plan                     855969 non-null object
desc                           121812 non-null object
purpose                        855969 non-null object
title                          855936 non-null object
zip_code                       855969 non-null object
addr_state                     855969 non-null object
dti                            855969 non-null float64
delinq_2yrs                    855969 non-null float64
earliest_cr_line               855969 non-null object
inq_last_6mths                 855969 non-null float64
mths_since_last_delinq         416157 non-null float64
mths_since_last_record         131184 non-null float64
open_acc                       855969 non-null float64
pub_rec                        855969 non-null float64
revol_bal                      855969 non-null float64
revol_util                     855523 non-null float64
total_acc                      855969 non-null float64
initial_list_status            855969 non-null object
out_prncp                      855969 non-null float64
out_prncp_inv                  855969 non-null float64
total_pymnt                    855969 non-null float64
total_pymnt_inv                855969 non-null float64
total_rec_prncp                855969 non-null float64
total_rec_int                  855969 non-null float64
total_rec_late_fee             855969 non-null float64
recoveries                     855969 non-null float64
collection_recovery_fee        855969 non-null float64
last_pymnt_d                   847107 non-null object
last_pymnt_amnt                855969 non-null float64
next_pymnt_d                   602998 non-null object
last_credit_pull_d             855919 non-null object
collections_12_mths_ex_med     855913 non-null float64
mths_since_last_major_derog    213139 non-null float64
policy_code                    855969 non-null float64
application_type               855969 non-null object
annual_inc_joint               442 non-null float64
dti_joint                      440 non-null float64
verification_status_joint      442 non-null object
acc_now_delinq                 855969 non-null float64
tot_coll_amt                   788656 non-null float64
tot_cur_bal                    788656 non-null float64
open_acc_6m                    13288 non-null float64
open_il_6m                     13288 non-null float64
open_il_12m                    13288 non-null float64
open_il_24m                    13288 non-null float64
mths_since_rcnt_il             12934 non-null float64
total_bal_il                   13288 non-null float64
il_util                        11609 non-null float64
open_rv_12m                    13288 non-null float64
open_rv_24m                    13288 non-null float64
max_bal_bc                     13288 non-null float64
all_util                       13288 non-null float64
total_rev_hi_lim               788656 non-null float64
inq_fi                         13288 non-null float64
total_cu_tl                    13288 non-null float64
inq_last_12m                   13288 non-null float64
default_ind                    855969 non-null int64
dtypes: float64(49), int64(3), object(21)
memory usage: 476.7+ MB

In [36]:
dataset.describe()  # looking at basic statistc of contious feataures

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
count,8.559690e+05,8.559690e+05,855969.000000,855969.000000,855969.000000,855969.000000,855969.000000,8.559690e+05,855969.000000,855969.000000,...,11609.000000,13288.000000,13288.000000,13288.000000,13288.000000,7.886560e+05,13288.000000,13288.000000,13288.000000,855969.000000
mean,3.224073e+07,3.476269e+07,14745.571335,14732.378305,14700.061226,13.192320,436.238072,7.507119e+04,18.122165,0.311621,...,71.486993,1.354305,2.945515,5840.443332,61.024526,3.216357e+04,0.947772,1.524232,1.841963,0.054286
std,2.271969e+07,2.399418e+07,8425.340005,8419.471653,8425.805478,4.368365,243.726876,6.426447e+04,17.423629,0.857189,...,23.015293,1.483710,2.595313,5108.500262,20.018117,3.769964e+04,1.441667,2.697601,2.975049,0.226581
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,5.320000,15.690000,0.000000e+00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,-4.000000,0.000000
25%,9.067986e+06,1.079273e+07,8000.000000,8000.000000,8000.000000,9.990000,260.550000,4.500000e+04,11.880000,0.000000,...,58.500000,0.000000,1.000000,2405.000000,47.900000,1.400000e+04,0.000000,0.000000,0.000000,0.000000
50%,3.431355e+07,3.697532e+07,13000.000000,13000.000000,13000.000000,12.990000,382.550000,6.500000e+04,17.610000,0.000000,...,75.000000,1.000000,2.000000,4485.500000,62.100000,2.380000e+04,0.000000,0.000000,2.000000,0.000000
75%,5.446311e+07,5.803559e+07,20000.000000,20000.000000,20000.000000,15.990000,571.560000,9.000000e+04,23.900000,0.000000,...,87.500000,2.000000,4.000000,7701.250000,75.300000,3.990000e+04,1.000000,2.000000,3.000000,0.000000
max,6.861687e+07,7.351969e+07,35000.000000,35000.000000,35000.000000,28.990000,1445.460000,9.500000e+06,9999.000000,39.000000,...,223.300000,22.000000,43.000000,83047.000000,151.400000,9.999999e+06,15.000000,33.000000,32.000000,1.000000

In [37]:
dataset.describe(include=['O'])  # looking at basic statistc of caegorical feataures

,term,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,pymnt_plan,desc,...,title,zip_code,addr_state,earliest_cr_line,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint
count,855969,855969,855969,806526,812908,855969,855969,855969,855969,121812,...,855936,855969,855969,855969,855969,847107,602998,855919,855969,442
unique,2,7,35,290912,11,6,3,103,2,120335,...,60991,931,51,697,2,97,3,102,2,3
top,36 months,B,B3,Teacher,10+ years,MORTGAGE,Source Verified,Oct-2015,n,,...,Debt consolidation,945xx,CA,Aug-2001,f,Jan-2016,Feb-2016,Jan-2016,INDIVIDUAL,Not Verified
freq,600221,247998,54958,12965,282090,429106,318178,48212,855964,231,...,398089,9466,125172,6433,442555,467510,534094,701687,855527,252

In [38]:
# Looking only those columns whose null count is greater than 0 percent, The below count of NAN is in percentage
null_col = dataset.isna().sum()
data_len = len(dataset)
null_col_info = null_col[null_col > 0].apply(lambda x: x/data_len)

In [39]:
dict(null_col)  # Column vise Nul Value Count

{'id': 0,
 'member_id': 0,
 'loan_amnt': 0,
 'funded_amnt': 0,
 'funded_amnt_inv': 0,
 'term': 0,
 'int_rate': 0,
 'installment': 0,
 'grade': 0,
 'sub_grade': 0,
 'emp_title': 49443,
 'emp_length': 43061,
 'home_ownership': 0,
 'annual_inc': 0,
 'verification_status': 0,
 'issue_d': 0,
 'pymnt_plan': 0,
 'desc': 734157,
 'purpose': 0,
 'title': 33,
 'zip_code': 0,
 'addr_state': 0,
 'dti': 0,
 'delinq_2yrs': 0,
 'earliest_cr_line': 0,
 'inq_last_6mths': 0,
 'mths_since_last_delinq': 439812,
 'mths_since_last_record': 724785,
 'open_acc': 0,
 'pub_rec': 0,
 'revol_bal': 0,
 'revol_util': 446,
 'total_acc': 0,
 'initial_list_status': 0,
 'out_prncp': 0,
 'out_prncp_inv': 0,
 'total_pymnt': 0,
 'total_pymnt_inv': 0,
 'total_rec_prncp': 0,
 'total_rec_int': 0,
 'total_rec_late_fee': 0,
 'recoveries': 0,
 'collection_recovery_fee': 0,
 'last_pymnt_d': 8862,
 'last_pymnt_amnt': 0,
 'next_pymnt_d': 252971,
 'last_credit_pull_d': 50,
 'collections_12_mths_ex_med': 56,
 'mths_since_last_major_derog': 642830,
 'policy_code': 0,
 'application_type': 0,
 'annual_inc_joint': 855527,
 'dti_joint': 855529,
 'verification_status_joint': 855527,
 'acc_now_delinq': 0,
 'tot_coll_amt': 67313,
 'tot_cur_bal': 67313,
 'open_acc_6m': 842681,
 'open_il_6m': 842681,
 'open_il_12m': 842681,
 'open_il_24m': 842681,
 'mths_since_rcnt_il': 843035,
 'total_bal_il': 842681,
 'il_util': 844360,
 'open_rv_12m': 842681,
 'open_rv_24m': 842681,
 'max_bal_bc': 842681,
 'all_util': 842681,
 'total_rev_hi_lim': 67313,
 'inq_fi': 842681,
 'total_cu_tl': 842681,
 'inq_last_12m': 842681,
 'default_ind': 0}

In [40]:
col_num = len(dataset.columns)
null_row = dataset.isna().sum(axis=1)
null_row[null_row > 0 ].apply(lambda x: x/col_num)
#null_row[null_row > 0 ].value_counts()    # Row vise Null Value Count

0         0.342466
1         0.328767
2         0.356164
3         0.315068
4         0.301370
            ...
855964    0.273973
855965    0.260274
855966    0.273973
855967    0.260274
855968    0.273973
Length: 855969, dtype: float64

In [41]:
Independent Features
========================================
['addr_state',
'annual_in',
'annual_inc_joint',
'application_type',
'dti',
'emp_length',
'emp_title',
'funded_amnt',
'funded_amnt_inv',
'grade',
'home_ownership',
'id',
'initial_list_status',
'loan_amnt',
'loan_status',
'member_id',
'policy_code',
'pub_rec',
'purpose',
'sub_grade',
'term',
'title',
'total_acc',
'total_pymnt',
'verified_status_joint',
'zip_code',
'total_bal_il',
'il_util',
'verification_status']
======================================================

Dependent Feature
=================================
default_ind

SyntaxError: invalid syntax (<ipython-input-41-8163b18ab300>, line 1)

In [ ]:
sorted(dataset.columns)

In [3]:
dataset = dataset[['addr_state','annual_inc','issue_d','annual_inc_joint','application_type','dti','emp_length','emp_title','funded_amnt','funded_amnt_inv','grade','home_ownership','id','initial_list_status','loan_amnt','member_id','policy_code','pub_rec','purpose','sub_grade','term','title','total_acc','total_pymnt','verification_status_joint','zip_code','total_bal_il','il_util','verification_status','default_ind']]

In [43]:
# Looking only those columns whose null count is greater than 0 percent, The below count of NAN is in percentage
null_col = dataset.isna().sum()
data_len = len(dataset)
null_col_info = null_col[null_col > 0].apply(lambda x: x/data_len)

In [44]:
dataset.drop(null_col_info[null_col_info > 0.3].index, axis=1, inplace=True)
dataset.reset_index(inplace=True, drop=True)

In [45]:
dataset.drop(dataset[dataset['emp_title'].isna()].index, inplace=True)
dataset.reset_index(drop=True, inplace=True)

In [46]:
dataset.isna().sum()

addr_state               0
annual_inc               0
issue_d                  0
application_type         0
dti                      0
emp_length             380
emp_title                0
funded_amnt              0
funded_amnt_inv          0
grade                    0
home_ownership           0
id                       0
initial_list_status      0
loan_amnt                0
member_id                0
policy_code              0
pub_rec                  0
purpose                  0
sub_grade                0
term                     0
title                   28
total_acc                0
total_pymnt              0
zip_code                 0
verification_status      0
default_ind              0
dtype: int64

In [47]:
title_imputer = {}
for unq_purpose in dataset[dataset['title'].isna()]['purpose'].unique():
    impute = dataset[dataset['purpose'] == unq_purpose]['title'].value_counts().index[0]
    title_imputer[unq_purpose] = impute
    dataset['title'][dataset['purpose'] == unq_purpose] = dataset['title'][dataset['purpose'] == unq_purpose].fillna(impute)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [48]:
title_imputer

{'other': 'Other',
 'credit_card': 'Credit card refinancing',
 'debt_consolidation': 'Debt consolidation',
 'educational': 'Student Loan',
 'major_purchase': 'Major purchase',
 'small_business': 'Business',
 'home_improvement': 'Home improvement',
 'car': 'Car financing'}

In [49]:
#dataset['emp_title'] = dataset['emp_title'].apply(lambda x: " ".join(re.findall(r'[a-zA-Z]+\b',x)).upper()

In [50]:
emp_length_imputer = {}

for user_emp_title in dataset[dataset['emp_length'].isna()]['emp_title'].value_counts().index:
    #print('----------------------------------------------\n',user_emp_title)
    avg_annual_inc = dataset[dataset['emp_title'] == user_emp_title]['annual_inc'].mean()
    
    user_purpose = dataset[dataset['emp_title'] == user_emp_title]['purpose'].value_counts().index[0]
    lower_annual_inc = int(avg_annual_inc) - 500
    upper_annual_inc = int(avg_annual_inc) + 500

    impute = dataset[(lower_annual_inc <= dataset['annual_inc']) & (dataset['annual_inc'] <= upper_annual_inc) & (dataset['purpose'] == user_purpose)]['emp_length'].value_counts().index[0]
    emp_length_imputer[user_emp_title] = impute

In [51]:
emp_length_imputer

{'Owner': '10+ years',
 'owner': '10+ years',
 'Retired': '10+ years',
 'Sales': '10+ years',
 'Driver': '10+ years',
 'Consultant': '10+ years',
 'teacher': '10+ years',
 'Manager': '10+ years',
 'Mechanic': '10+ years',
 'Instructor': '10+ years',
 'Teacher': '10+ years',
 'driver': '10+ years',
 'Office Manager': '10+ years',
 'substitute teacher': '10+ years',
 'Security Guard': '10+ years',
 'security guard': '10+ years',
 'Security Officer': '10+ years',
 'Intern': '10+ years',
 'Delivery Driver': '10+ years',
 'Customer service': '10+ years',
 'Graduate Assistant': '< 1 year',
 'Disabled': '10+ years',
 'Cashier': '10+ years',
 'Security': '10+ years',
 'President': '10+ years',
 'TD Bank': '10+ years',
 'Nanny': '10+ years',
 'Barista': '10+ years',
 'Captain': '10+ years',
 'Administrative Assistant': '10+ years',
 'Transportation Coordinator': '10+ years',
 'Server': '10+ years',
 'Sales Associate': '10+ years',
 'Senior Risk Analyst': '10+ years',
 'Sales rep': '10+ years',
 'food service worker': '10+ years',
 'Logistics': '10+ years',
 'LAN sup': '10+ years',
 'Director of Business Development': '10+ years',
 'acquisition coordinator': '10+ years',
 'Framer': '10+ years',
 'crane operator': '10+ years',
 'American Fire Equipment': '10+ years',
 'Technician': '10+ years',
 'Retail Associate': '10+ years',
 'Adjunct professir': '10+ years',
 'Social Security': '10+ years',
 'Columbia University': '10+ years',
 'penny marketing': '2 years',
 'Program Analyst': '10+ years',
 'president': '10+ years',
 "Jim's Northside Service": '10+ years',
 'Liberty Tax Service': '10+ years',
 "Arizona's Best Choice Pest ": '10+ years',
 'Vasso Waste Systems': '10+ years',
 'JP Morgan Chase': '10+ years',
 'New Media Coordinator': '10+ years',
 'RETIRED': '10+ years',
 'Ramp Agent': '10+ years',
 'Asso. Illinois Middle Schools ': '10+ years',
 'Adjunct Professor and Therapist ': '10+ years',
 'Substitute ': '10+ years',
 'Yale Long Insurance': '10+ years',
 'horse and carriage owner': '10+ years',
 'Graduate Student': '10+ years',
 'United ': '10+ years',
 'LegacyTexas Bank': '10+ years',
 'ParaEducator': '10+ years',
 'Account representative': '10+ years',
 'GARLOCK RUBBER TECHNOLOGIES': '10+ years',
 'Assistant Professor': '10+ years',
 'T Marzetti': '10+ years',
 'Registered Nurse': '10+ years',
 'Talbot County Department of Corrections': '10+ years',
 'The Boeing Company': '10+ years',
 'Comm of VA-LTD': '10+ years',
 'customer service': '10+ years',
 'Aegis Communications Group': '< 1 year',
 'Data and technology Con': '10+ years',
 'clerical': '10+ years',
 'MILGARD': '10+ years',
 'pmr': '10+ years',
 'U.S MERCHANT MARINE': '10+ years',
 'Principal': '10+ years',
 'Cooker': '10+ years',
 'Tong Parks': '10+ years',
 'West Monroe Partners LLC': '10+ years',
 'Sgt security': '10+ years',
 'Astro-tec Manufacturing Inc': '10+ years',
 'Everlighting, Inc.': '< 1 year',
 'Research Associate': '10+ years',
 'Adjunct Instructor': '10+ years',
 'ISS Coordinator': '10+ years',
 'ventas': '< 1 year',
 'Production': '10+ years',
 'Pharmacy Technician': '10+ years',
 'Proprietor': '10+ years',
 'sales': '10+ years',
 'Electrician': '10+ years',
 'Produciton Supervisor': '10+ years',
 'Truck Driver': '10+ years',
 'Supervisor ': '10+ years',
 'assistant to dept.manager': '10+ years',
 'Binghamton University ': '10+ years',
 'dRIVER': '10+ years',
 'police officer': '10+ years',
 'DSP': '10+ years',
 'fan-host': '10+ years',
 'Assistant manager': '10+ years',
 'Pipe fitter ': '10+ years',
 'SALES ASSOCIATE': '10+ years',
 'DuMolin Community Living': '5 years',
 'Military': '10+ years',
 'US Government ': '10+ years',
 'Administravgi': '10+ years',
 'retired': '10+ years',
 'operations Manager': '10+ years',
 'Cast and Crew ': '10+ years',
 'Sauder Woodworking': '10+ years',
 'Coordinator': '10+ years',
 'Employer Support Specialist ': '10+ years',
 'Produce clerk': '10+ years',
 'CAL FIRE': '10+ years',
 'Senior Programmer Analyst': '10+ years',
 'Training Devolopment Officer': '10+ years',
 'Customer Service Manager': '10+ years',
 'Frontloader': '10+ years',
 'Detailer': '10+ years',
 'Division Child Support Enforcement': '10+ years',
 'Convention Assistabt': '< 1 year',
 'courstey cler': '< 1 year',
 'Asset manager': '10+ years',
 'Employee': '10+ years',
 'Albany Door Systems': '10+ years',
 'Engineer': '10+ years',
 'cleaner': '10+ years',
 'Retoucher': '10+ years',
 'us army national guard': '10+ years',
 'Tucker Rocky Distribution': '< 1 year',
 'Cutter Grinder': '10+ years',
 'Dishwasher': '< 1 year',
 'E-5': '10+ years',
 'North American Industrial Services Inc.': '10+ years',
 'Tour Guide': '10+ years',
 'maintenance ': '10+ years',
 'CNA': '10+ years',
 'UCSF': '10+ years',
 'corrections officer': '10+ years',
 'Business Manager': '10+ years',
 'residence counslor': '10+ years',
 'pharmacy tech': '10+ years',
 'Senior Certified Tech': '< 1 year',
 'Chef': '10+ years',
 'Feldhaus and Peace': '< 1 year',
 'Porter': '10+ years',
 'Player': '10+ years',
 'STORMONT VAIL HEALTHCARE': '2 years',
 'tax professional': '10+ years',
 'store manager': '10+ years',
 'Palmetto Technology Consulting': '10+ years',
 'writer': '10+ years',
 'AL Medicaid Agency': '< 1 year',
 'Vista Verde Middle School': '10+ years',
 'Teaching Assistant': '10+ years',
 'Business Analyst': '10+ years',
 'Operations Assistant': '10+ years',
 'AEM Corporation': '10+ years',
 'Care Giver': '10+ years',
 'Unite Food and Commercial Workers': '10+ years',
 'Pearce windows and doors': '10+ years',
 'CBS Corporation': '10+ years',
 'Mortgage Processor': '10+ years',
 'caregiver': '10+ years',
 'Army Officer': '10+ years',
 'Police Officer': '10+ years',
 'doctor assistant': '10+ years',
 'secretary': '10+ years',
 'State Of California': '10+ years',
 'ft lewis': '10+ years',
 'CTM': '10+ years',
 'Belk': '10+ years',
 'Receptionist': '10+ years',
 'Sales associate ': '10+ years',
 'Superb Farms': '10+ years',
 'Wells Fargo': '10+ years',
 'shelly bmw': '10+ years',
 'PRODUCER': '10+ years',
 'Program Manager': '10+ years',
 'SPC, Multimedia Illustrator': '10+ years',
 'Psomas': '10+ years',
 'Pastor': '10+ years',
 'Operations': '10+ years',
 'Home Health': '10+ years',
 'Materials Handler': '10+ years',
 'Investigator': '10+ years',
 'radiology technologist': '10+ years',
 'Tax Professional': '10+ years',
 'Visiting Professor': '10+ years',
 'Employment Specialist': '10+ years',
 'UT Health Science Center Houston': '< 1 year',
 'Youth Minister': '10+ years',
 'Chrysler Group, LLC': '10+ years',
 'Long Agency Inc.': '10+ years',
 'Real Estate Agent': '10+ years',
 'Dispatcher': '10+ years',
 'Mosaic Solutions': '5 years',
 'Limited Nail Salon ': '< 1 year',
 'Cross Pond Media': '10+ years',
 'Advisor to Afghanistan': '10+ years',
 'Supervisor': '10+ years',
 'BUS DRIVER': '10+ years',
 'Street repair worker also pension and so': '10+ years',
 'IBEW #6 EISB': '10+ years',
 'Instructional Designer': '10+ years',
 'Bus Driver ': '10+ years',
 'Stitches': '10+ years',
 'The Rockefeller University': '10+ years',
 'Psychotherapist': '10+ years',
 'Accounts Receivable': '10+ years',
 'TOP COORDINATOR': '10+ years',
 'captain': '10+ years',
 'officer': '10+ years',
 'sr.custodian': '10+ years',
 'MANAGER': '10+ years',
 'Chiropractor - owner': '10+ years',
 'Return Agent': '10+ years',
 'Independent contractor': '10+ years',
 'Director, Business Development': '10+ years',
 'STEMPER WIBELHOUSE': '10+ years',
 'Medical Courier': '10+ years',
 'freelance home nursing': '10+ years',
 'BMET 2': '10+ years',
 'Foster Grandparent': '10+ years',
 'CERTIFIED MARINE': '10+ years',
 'Ordway Drug Store': '< 1 year',
 'Tax Examiner Technician': '10+ years',
 'supervisor': '10+ years',
 'Vanilla Urban Threads': '5 years',
 'Project Manager': '10+ years',
 'Housekeeper': '10+ years',
 'air force': '10+ years',
 'Consulting': '10+ years',
 'corporate security': '10+ years',
 'Licensed ': '10+ years',
 'California State University, Fullerton': '10+ years',
 'Agency Office Assistant': '10+ years',
 'Pilot': '10+ years',
 'State of Illinois': '10+ years',
 'Ryla Teleservices': '2 years',
 'Lead Front Desk Clerk': '10+ years',
 'Executive Assistant': '10+ years',
 'Corporate Care': '10+ years',
 'Sahuarita Town Councilman': '10+ years',
 'EFCO': '10+ years',
 'Vacation P': '10+ years',
 'Residency Director': '10+ years',
 'Auditor': '10+ years',
 'medical services of america': '10+ years',
 'KPFF': '10+ years',
 'VA Health Care Hospital': '< 1 year',
 'freelance proofreader': '10+ years',
 'Arff': '10+ years',
 'Georgia Pacific': '10+ years',
 'HR Coordinator': '10+ years',
 'USAF': '10+ years',
 'DIVISION MANAGER': '10+ years',
 'One Source Tool, Inc': '10+ years',
 'part-time driver': '10+ years',
 'Freelance ': '10+ years',
 'Receptionist/bookkeeper': '10+ years',
 'Union Pacific Railroad': '10+ years',
 'Cornell University': '10+ years',
 'consultant': '10+ years',
 'Student Audio Engineer': '10+ years',
 'RIVER SPIRIT CASINO': '10+ years',
 'Mcdonalds ': '2 years',
 'oparation manager': '10+ years',
 'Secretary': '10+ years',
 'Lead Teacher': '10+ years',
 'Inventory Counter': '10+ years',
 'Haas School of Business': '< 1 year',
 'Broker Associate': '10+ years',
 'Staff Assistant': '10+ years',
 'Research Analyst': '10+ years',
 'Reporter': '10+ years',
 'H': '10+ years',
 'SubstituteAide': '10+ years',
 'Adjunct ': '10+ years',
 'Therapist ': '10+ years',
 'Wirebond': '10+ years',
 'Walmart': '10+ years',
 'TIRO ELECTRIC': '10+ years',
 'Freelance Actress': '10+ years',
 'custodian': '10+ years',
 'Tutor': '10+ years',
 'Genzyme Genetics': '10+ years',
 'personal shopper': '10+ years',
 'GSE2': '10+ years',
 'security officer': '10+ years',
 'Customer Service': '10+ years',
 'Vault Clerk': '10+ years',
 'US Army National Guard': '10+ years',
 'Assistant Principal': '10+ years',
 'Childrens Hospital Los Angeles': '10+ years',
 '9707 Richmond Ave Apt 65': '< 1 year',
 'Business Assistant': '10+ years',
 'maintenance': '10+ years',
 'Sub-Teach': '10+ years',
 'Storeroom Supervisor ': '10+ years',
 'FLOYD ': '10+ years',
 'summit medical center': '10+ years',
 'teachet': '10+ years',
 'welder': '10+ years',
 'member': '10+ years',
 'TPPP': '10+ years',
 'Financial Sources': '3 years',
 'Library Assist': '10+ years',
 'Personal Care Assistant': '10+ years',
 'Police officer': '10+ years',
 'Emergency Medical Technician': '10+ years',
 'first student management': '< 1 year',
 'carquest': '10+ years',
 'Honeywell': '10+ years',
 'Clerk': '10+ years',
 'Activities  and senior nutritionsite man': '< 1 year',
 'Director of Education': '10+ years',
 'shipping &receiving': '10+ years',
 'OWNER': '10+ years',
 'Letter Carrier': '10+ years'}

In [52]:
for user_emp_title, imputer in emp_length_imputer.items():
    dataset['emp_length'][(dataset['emp_title'] == user_emp_title) & dataset['emp_length'].isna()] = dataset[(dataset['emp_title'] == user_emp_title)]['emp_length'].fillna(imputer)

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [53]:
dataset.isna().sum()

addr_state             0
annual_inc             0
issue_d                0
application_type       0
dti                    0
emp_length             0
emp_title              0
funded_amnt            0
funded_amnt_inv        0
grade                  0
home_ownership         0
id                     0
initial_list_status    0
loan_amnt              0
member_id              0
policy_code            0
pub_rec                0
purpose                0
sub_grade              0
term                   0
title                  0
total_acc              0
total_pymnt            0
zip_code               0
verification_status    0
default_ind            0
dtype: int64

In [54]:
class_dist = dict(dataset['default_ind'].value_counts())
print(class_dist, class_dist[0] / class_dist[1], class_dist[0]/len(dataset), class_dist[1]/len(dataset))

{0: 763578, 1: 42948} 17.779128248114 0.9467493918360971 0.05325060816390296

In [55]:
# Oversamplling Minor Class - 1
minor_class_data = dataset[dataset['default_ind'] == 1]
for _ in range(15):
    dataset = pd.concat([dataset, minor_class_data], ignore_index=True)

In [56]:
class_dist = dict(dataset['default_ind'].value_counts())
print(class_dist, class_dist[0] / class_dist[1], class_dist[0]/len(dataset), class_dist[1]/len(dataset))

{0: 763578, 1: 687168} 1.111195515507125 0.5263347270990235 0.4736652729009765

In [57]:
# splitting train and test data
# Instruction : train (June 2007 - May 2015) and out-of-time test (June 2015 - Dec 2015) data
dataset['issue_d'] = pd.DatetimeIndex(dataset['issue_d'])

In [58]:
train_data = dataset[('2007-06-01' <= dataset['issue_d']) & (dataset['issue_d'] <= '2015-05-01')]
train_data.to_csv('train_data.csv', index=False) # train data to csv

In [59]:
test_data = dataset[('2015-06-01' <= dataset['issue_d']) & (dataset['issue_d'] <= '2015-12-01')]
test_data.to_csv('test_data.csv', index=False) # test data to csv

In [60]:
trainclass_dist = dict(train_data['default_ind'].value_counts())
print(trainclass_dist, trainclass_dist[0] / trainclass_dist[1], trainclass_dist[0]/len(train_data), trainclass_dist[1]/len(train_data))

{1: 682576, 0: 521852} 0.7645331801879938 0.43327787132149037 0.5667221286785097

In [61]:
testclass_dist = dict(test_data['default_ind'].value_counts())
print(testclass_dist, testclass_dist[0] / testclass_dist[1], testclass_dist[0]/len(test_data), testclass_dist[1]/len(test_data))

{0: 241726, 1: 4592} 52.64067944250871 0.98135743226236 0.018642567737639962

In [62]:
class_0 = trainclass_dist[0] + testclass_dist[0]
class_1 = trainclass_dist[1] + testclass_dist[1]
print('Total Train and Test Data Size : ', class_0 + class_1)

Total Train and Test Data Size :  1450746

In [6]:
data_dict = pd.read_excel('DataDictionary-14-10-17.xlsx')
data_dict

                LoanStatNew                                        Description
0                addr_state  The state provided by the borrower in the loan...
1                annual_inc  The self-reported annual income provided by th...
2          annual_inc_joint  The combined self-reported annual income provi...
3          application_type  Indicates whether the loan is an individual ap...
4   collection_recovery_fee                     post charge off collection fee
..                      ...                                                ...
68             inq_last_12m       Number of credit inquiries in past 12 months
69           acc_now_delinq  The number of accounts on which the borrower i...
70             tot_coll_amt                 Total collection amounts ever owed
71              tot_cur_bal              Total current balance of all accounts
72      verification_status                     Was the income source verified

[73 rows x 2 columns]

In [11]:
list(dataset.columns)

['addr_state',
 'annual_inc',
 'issue_d',
 'annual_inc_joint',
 'application_type',
 'dti',
 'emp_length',
 'emp_title',
 'funded_amnt',
 'funded_amnt_inv',
 'grade',
 'home_ownership',
 'id',
 'initial_list_status',
 'loan_amnt',
 'member_id',
 'policy_code',
 'pub_rec',
 'purpose',
 'sub_grade',
 'term',
 'title',
 'total_acc',
 'total_pymnt',
 'verification_status_joint',
 'zip_code',
 'total_bal_il',
 'il_util',
 'verification_status',
 'default_ind']

In [16]:
data_dict[data_dict['LoanStatNew'].apply(lambda x: x in dataset.columns)].to_csv('data_dict.csv')